/* Hambuger Menu Dropdown */

.header {
  display: flex;
  background: linear-gradient(to right, #171717, #181818, #191919, #1A1A1A, #1B1B1B, #1C1C1C, #1D1D1D, #1E1E1E, #1F1F1F, #202020, #212121, #222222, #232323, #242424, #252525);
  padding: 20px;
  justify-content: space-between;
  align-items: center;

}

.header img {
height: 50px;
}

/* The ul styling */
.hamburgerDropDown {
  position: fixed;
  left: 40px;
  top: 40px;
  width: 300px;
  background-color: black;
  border: 1px solid bisque;
  list-style: none;
}
 .hamburgerDropDown a {
  text-decoration: none;
  color: white
 }
 .hamburgerDropDown a:hover {
  cursor: pointer;
  color: #86C7B3;
 }

ul.hamburgerDropDown {
  padding: 10px;
}

.navbar span {
  background-color: white !important;
}

/* Position of the hamburger symbol */
/* .navbar div {
  /* position: relative;
  display: inline-block;
} */