@media screen and (min-width: 750px) {
  .vol1Collage a img {
    width: 70%;
  }
  .bannerContainer {
    transform: scale(0.7, 0.7);
    width: inherit;
    background-repeat: repeat-x;
    margin-top: -90px;
    margin-bottom: -50px;
  }
}
